<div class="container">
<h1><font color="539DC2">Add student</font></b></h1>

<%= render 'addform' %>

<%= link_to 'Back', students_path, :style=>'color:#FFFFFF;', :class => "btn btn-primary btn-sm"  %>
</div>
