<div class="container">
<h1><font color='539DC2'>New student</font></h1>

<%= render 'form' %>

<%= link_to 'Back', students_path, :class => "btn btn-primary btn-sm", :style=>'color:#FFFFFF;' %>
</div>
