<h1><font color="539DC2">Editing order</font></h1>

<%= render 'form' %>

<%= link_to 'Show', @order, :class => "btn btn-primary btn-sm", :style=>'color:#FFFFFF' %> |
<%= link_to 'Back', orders_path, :class => "btn btn-primary btn-sm", :style=>'color:#FFFFFF' %>
