<h1><font color="white"><b>Order Details</font></b></h1>

<div class="depot_form">
<fieldset>
<legend><font color="white"><b>Please Enter Your Name for the Order</font></b></legend>
<%= render 'form' %>
</fieldset>
</div>