<div class="container">
<br />
<br />
<% content_for :title do %>About<% end %>
<h2><b>About Yummie Tummies</b></br>
	<blockquote><p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		The frachise owners that prepare the food are local people living in your community! Each franchise owner is selected through a selective application processes which 
    	takes experience and culinary education into consideration. Ingrediants are gathered daily to ensure freshness
	</p></blockquote>
</h2>
<div class="center-block">
	<table class="table" style="width: 70%">
		<tr>
			<td><%= image_tag "gio.png", :size => "170x190", :class => "img-circle" %><h1>Customer Relations</h1></td>
			<td><h2>Giovanni Luna</h2></br><p>Giovanni was born in virginia in 1929, and he was raised and studied there until 1959. He pursued a Computer Science
				Degree at Valdosta State University and is currently working for a company called Yummy Tummies.He also has a second personality  as the villain to Inspector Gadget. He has worked with client to bring them the best possible 
				website that represents their businesses and maximized traffic in order to capitalize on profits. </p>
		</tr>
		
		<tr>
			<td><%= image_tag "grig.png", :size => "170x190", :class => "img-circle" %><h1>Masterchef</h1></td>
			<td><h2>Grigory Kashkin</h2></br><p> Grigory is a native from Russian Federation, He was born in 1970's during the disco age and has been working as a cook all his life'
				he was trained by Chef Ramsey and in 1992 and was later kicked off the show "Hell's Kitchen" because of his suspicious use of a wooden spoon. From 1993, he has cooked 
				at many restaurants such as TGIM and Ruby Fridays. He then became the pupil of the Swedish Chef from the Muppets.</p></td>
		</tr>
		
		<tr>
			<td><%= image_tag "kun.png", :size => "170x190", :class => "img-circle" %><h1>Programmer</h1></td>
			<td><h2>Kun Kim</h2></br><p>Kun is an alcoholic Programmer, One bottle of vodka and he designed the internet. Kun has also worked for aliens from the planet Ruby he has design many interfaces for their motherships
				inadvertantley causing an invasion of the world. Pinky and the Brain secretly get their plans from him.</p>
		</tr>
	</table>
	</div>


</div>
