<% content_for :title do %>About<% end %>
<h2>
    	About the Franchise Owners, </br>
    					<blockquote><p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The frachise owners that prepare the food are local people living in your community! Each franchise owner is selected through a selective application processes which 
    						takes experience and culinary education into consideration. Ingrediants are gathered daily to ensure freshness
    						</p></blockquote>
    </h2>