<h1><font color="539DC2">Editing cart</font></h1>

<%= render 'form' %>

<%= link_to 'Show', @cart, :class => "btn btn-primary btn-sm" %> |
<%= link_to 'Back', carts_path,:class => "btn btn-primary btn-sm" %>
