<h1><font color="539DC2">Listing carts</font></h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cart.each do |cart| %>
      <tr>
        <td><%= link_to 'Show', cart, carts_path, :style=>'color:#FFFFFF',:class => "btn btn-primary btn-sm" %></td>
        <td><%= link_to 'Edit', edit_cart_path(cart), carts_path, :style=>'color:#FFFFFF',:class => "btn btn-primary btn-sm" %></td>
        <td><%= link_to 'Destroy', cart, method: :delete, carts_path, :style=>'color:#FFFFFF',:class => "btn btn-primary btn-sm", data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cart', new_cart_path, carts_path, :style=>'color:#FFFFFF',:class => "btn btn-primary btn-sm" %>
