<div class="container">
<h1><font color="539DC2">New franchise</font></h1>

<%= render 'form' %>

<%= link_to 'Back', franchises_path, :style=>'color:#FFFFFF', :class => "btn btn-primary btn-sm" %>
</div>
