<h1><b><font color="539DC2">Editing school</b></font></h1>

<%= render 'form' %>

<%= link_to 'Show', @school,  :style=>'color:#FFFFFF', :class => "btn btn-primary btn-sm" %> |
<%= link_to 'Back', schools_path,  :style=>'color:#FFFFFF', :class => "btn btn-primary btn-sm" %>
