<div class="container">
	<table class="table table-striped">
		<h1><font color="539DC2"><b>New school</b></font></h1>

		<%= render 'form' %>

		<%= link_to 'Back', schools_path, :style=>'color:#FFFFFF', :class => "btn btn-primary btn-sm" %>
	</table>
</div>