// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.myTableClass {
font-family: verdana,arial,sans-serif;
font-size:11px;
color:#333333;
border-width: 12px;
border-color: #a9c6c9;
border-collapse: collapse;
}
table.myTableClass th {
border-width: 1px;
padding: 8px;
border-style: solid;
border-color: #a9c6c9;
}
table.myTableClass td {
border-width: 1px;
padding: 8px;
border-style: solid;
border-color: #a9c6c9;
}
.oddRowColor{
background-color:#d2e3e2;
}
.evenRowColor{
background-color:#c4dde1;
}
