<div class="container">
<h1><font color="539DC2">Student and Date Selection</font></h1><b/>
<font color="white"><p>   *please type in your child's Student ID number followed by the date the meal is for.</p></font>
<%= render 'form' %>

<%= link_to 'Show', @line_item %> |
<%= link_to 'Back', line_items_path, :style=>'color:#FFFFFF'%>
</div>
