<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1> Your Menu Selection Page</h1>
<% cache ['store', Menu.latest] do %>
<% @menus.each do |menu| %>
<% cache ['entry', menu] do %>
	<div class="entry">
		<%= sanitize(menu.description) %>
		<div class="price_line">
			<span class="price"><%= number_to_currency(menu.price) %></span>
				</div>
			</div>
		<% end %>
	<% end %>
<% end %>
