<div class="container">
<h1><font color='539DC2'><b>Deposit Page</b></font></h1>

<div class="depot_form">
<fieldset>
<legend><font color='539DC2'><b>Please Enter Your Deposit Details</font></b></legend>
<%= render 'form' %>
</fieldset>
</div>

<%= link_to 'Back', accounts_path, :style=>'color:#FFFFFF' %>
</div>
