<div class="container">
<h1>Deposit Page</h1>

<div class="depot_form">
<fieldset>
<legend>Please Enter Your Deposit Details</legend>
<%= render 'form' %>
</fieldset>
</div>

<%= link_to 'Back', accounts_path %>
</div>
